.App {
  text-align: center;
}

.employee-table{
  margin: auto;
  margin-top: 50px;
  width: 90%;
}

th,td{
  height: 50px;
  border: 1px solid black;
}

.action-buttons{
  margin: 5px;
}

.add-button{
  position: absolute;
  right: 10%;
}

nav{
  background-color: bisque;
  height: 50px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
}
